@import "tailwindcss";

.font-1 {
  font-family: var(--font-staatliches);
}

.font-2 {
  font-family: var(--font-noto-sans-mono);
}

.font-3 {
  font-family: var(--font-oswald);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}